# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Alexandra\Desktop\Facultate\Semestru 2\SDA\Practical Work No 5\ADTMatrix PW5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
